*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: cursive;
  background: lightblue;
}
.login-container{
  position: relative;
  width: 350px;
  background: white;
  border-radius: 6px;
  padding: 16px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4),
  -3px -3px 6px rgba(0, 0, 0, 0.4);
  z-index: 10;
  overflow: hidden;
}
.login-container::before{
 content: "";
  position: absolute;
  background-color: rgba(211, 195, 195, 0.1);
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  transform: skewX(-15deg);
  transition: 0.5s;
  pointer-events: none;
}
.login-container::after{
content: "";
  position: absolute;
  background-color: rgba(211, 195, 195, 0.1);
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  transform: skewX(15deg);
  transition: 0.5s;
  pointer-events: none;
}
.login-container:hover::after{
right: 120%;
}
.login-container:hover::before{
  left: 120%;
  
}
.login-container h2{
  text-align: center;
  font-weight: bolder;
  margin-bottom: 6px;
    font-size: 27px;
  margin-top: 15px;
}
.login-container p{
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
  margin-left: 6px;
  margin-right: 6px;
}
.input-group{
  position: relative;
margin-bottom: 10px;
font-size: 15px;
}
.input-group input{
  width: 100%;
  padding: 12px 20px;
  border-radius: 35px;
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
}
.forget-remember{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.sign-in{
  width: 100%;
  height: 32px;
  border-radius: 6px;
  border: none;
  background-color: grey;
  color: white;
  font-weight: bolder;
  margin-bottom: 10px;
  transition: background-color 0.15s;
}
.sign-in:hover{
  background-color: rgba(128, 128, 128, 0.6);
}
.line-container{
  display: flex;
  vertical-align: middle;
  align-items: center;
}
.left-line,
.right-line{
  width: 50%;
  border: none;
  background-color: grey;
  height: 0.5px;
}
.google-github-container{
  display: flex;
  justify-content: space-between;
}
button{
  margin-top: 20px;
  padding: 8px 18px;
  border: none;
  background-color: grey;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.15s;
}
button:hover{
    background-color: rgba(128, 128, 128, 0.6);
}
button a{
    color: white;
    text-decoration: none;
}